<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gestion_Tournoi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Gestion_Tournoi.Properties.Settings.dbConnectionString"
            connectionString="data source=db.s3db" providerName="System.Data.SQLite" />
        <add name="Gestion_Tournoi.Properties.Settings.dbConnectionString1"
            connectionString="data source=db.s3db" providerName="System.Data.SQLite" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <userSettings>
    <Gestion_Tournoi.Properties.Settings>
      <setting name="nbTerrains" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="jours" serializeAs="String">
        <value>31</value>
      </setting>
    </Gestion_Tournoi.Properties.Settings>
  </userSettings>
</configuration>